<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="logo">
      <ion-col>
        <img src="assets/Group 34.png" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset=".5" size="11">
        <ion-list class="inputfield">
          <ion-item fill="outline" lines="none">
            <ion-input placeholder="Email"></ion-input>
          </ion-item>
          <ion-item fill="outline" lines="none">
            <ion-input placeholder="password" type="password"></ion-input>
            <ion-icon name="eye-off-outline" slot="end"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset=".5" size="11">
        <p class="fp" (click)="fp()">Forget Password?</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset=".5" size="11">
        <ion-button expand="block" shape="round" size="large" (click)="login()"
          >Login</ion-button
        ></ion-col
      >
    </ion-row>
    <ion-row class="orline">
      <ion-col size="4" offset="1">
        <hr height="5px" color="black" />
      </ion-col>
      <ion-col size="2"> <p>OR</p> </ion-col>
      <ion-col size="4">
        <hr height="5px" color="black" />
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col offset=".5" size="11">
        <ion-button
          expand="block"
          shape="round"
          size="large"
          fill="outline"
          color="dark"
          (click)="google()"
        >
          <ion-icon name="logo-google"></ion-icon> Login with Google</ion-button
        >
      </ion-col>

      <ion-col offset=".5" size="11">
        <ion-button
          expand="block"
          shape="round"
          size="large"
          fill="outline"
          color="dark"
          (click)="fb()"
          ><ion-icon name="logo-facebook"></ion-icon> Login with
          Facebook</ion-button
        >
      </ion-col>
    </ion-row>

    <ion-row class="lastline">
      <ion-col>
        Don’t have an account? <span (click)="signup()">Sign up</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
