.logo {
  margin-top: 10%;
  text-align: center;
}

ion-item {
  margin-top: 5%;
}

ion-item::part(native) {
  border-radius: 20px;
}

.fp {
  text-align: end;
  font-weight: 550;
  margin-right: 5%;
}

ion-button {
  --background: #fbde3f;
  --color: black;

  ion-icon {
    margin-right: 5%;
  }
}

.orline {
  margin-top: 10%;

  p {
    text-align: center;
    font-size: large;
    font-weight: 550;
  }

  hr {
    position: absolute;
    top: 37%;
    width: 100%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.lastline {
  text-align: center;
  margin-top: 10%;
  span {
    font-weight: 550;
  }
}
