<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row
      ><ion-col>
        <ion-button fill="clear" color="dark">
          <ion-icon
            slot="icon-only"
            name="close"
          ></ion-icon> </ion-button></ion-col
    ></ion-row>

    <ion-row>
      <ion-col class="headline">
        <p>Payment Options</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="subline">
        <p>Payment Method</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="0.5" size="11">
        <ion-radio-group value="card">
          <ion-item>
            <ion-radio
              aria-label="Warning"
              color="warning"
              value="card"
              slot="start"
              mode="md"
            ></ion-radio>
            <ion-label
              ><ion-icon name="card-outline"></ion-icon>Credit / Debit
              card</ion-label
            >
          </ion-item>

          <ion-item>
            <ion-radio
              aria-label="Warning"
              color="warning"
              value="cash"
              slot="start"
              mode="md"
            ></ion-radio>
            <ion-label
              ><ion-icon name="cash-outline"></ion-icon>Cash on
              Delivery</ion-label
            >
          </ion-item>
        </ion-radio-group>
      </ion-col>
    </ion-row>
    <ion-row class="bottombtn">
      <ion-col offset=".5" size="11">
        <ion-button expand="block" shape="round" size="large" (click)="pay()"
          >Proceed to Payment</ion-button
        ></ion-col
      >
    </ion-row>
  </ion-grid>
</ion-content>
