<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="2.5">
        <ion-button size="block" shape="round" color="light">
          <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col></ion-col>
      <ion-col size="2.5">
        <ion-button size="block" shape="round" color="light">
          <ion-icon name="heart-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="top">
      <ion-col class="img"> <img src="assets/yyy@1 1.png" /> </ion-col>
    </ion-row>
    <div class="fullpage">
      <ion-row class="round">
        <ion-col class="headline"><p>Mc Double</p></ion-col>
      </ion-row>
      <ion-row class="bg">
        <ion-col size="2"></ion-col>
        <ion-col>
          <p>
            <ion-icon name="timer-outline" color="primary"></ion-icon>50 min
          </p>
        </ion-col>
        <ion-col>
          <p><ion-icon name="star-outline" color="warning"></ion-icon>50 min</p>
        </ion-col>
        <ion-col>
          <p><ion-icon name="flame-outline" color="danger"></ion-icon>50 min</p>
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>
      <ion-row class="bg">
        <ion-col class="price"><p>$20.99</p></ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="title" offset="0.5">
          <p>Mc Double Comes With</p>
        </ion-col>
      </ion-row>
      <ion-row class="t1">
        <ion-col offset="0.5"> Ketchup </ion-col>
        <ion-col size="3">
          <ion-row class="btnround">
            <ion-col> <ion-icon name="remove"></ion-icon></ion-col>
            <ion-col> <p>1</p></ion-col>
            <ion-col><ion-icon name="add"></ion-icon></ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="12">
          <hr height="5px" color="black" />
        </ion-col>
      </ion-row>
      <ion-row class="t1">
        <ion-col offset="0.5"> Cheese </ion-col>
        <ion-col size="3">
          <ion-row class="btnround">
            <ion-col> <ion-icon name="remove"></ion-icon></ion-col>
            <ion-col> <p>1</p></ion-col>
            <ion-col><ion-icon name="add"></ion-icon></ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="12">
          <hr height="5px" color="black" />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset="0.5" class="title">
          Frequently bought together
        </ion-col>
      </ion-row>

      <ion-row class="chkitem">
        <ion-col offset="0.5">
          <p>French Fries</p>
          <p>$5.67</p>
        </ion-col>
        <ion-col class="img">
          <img src="assets/pngwing 4.png" />
        </ion-col>
      </ion-row>
    </div>

    <ion-row class="bottombtn">
      <ion-col offset="0.5" size="11">
        <ion-button shape="round" expand="block" size="large"
          >Add 1 to cart
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
