<ion-content [fullscreen]="true">
  <ion-grid *ngIf="!issubmit">
    <ion-row>
      <ion-col class="heading">
        <p>Reset your password</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="subline">
        <p>Enter your registered email below</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset=".5" size="11">
        <ion-item fill="outline" lines="none">
          <ion-input placeholder="Password" type="password"></ion-input>
          <ion-icon name="eye-off-outline" slot="end"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col offset=".5" size="11">
        <ion-item fill="outline" lines="none">
          <ion-input placeholder="Confirm Password" type="password"></ion-input>
          <ion-icon name="eye-off-outline" slot="end"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="bottombtn">
      <ion-col offset=".5" size="11">
        <ion-button
          expand="block"
          shape="round"
          size="large"
          (click)="resetpass()"
          >Reset password</ion-button
        ></ion-col
      >
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="issubmit">
    <ion-row>
      <ion-col class="avatar">
        <ion-avatar>
          <ion-icon name="shield-checkmark-outline"></ion-icon>
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="headline">
        <p>Password updated</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="2" size="8" class="subhead">
        <p>Congratulation your password has been updated</p>
      </ion-col>
    </ion-row>
    <ion-row class="bottombtn">
      <ion-col offset=".5" size="11">
        <ion-button
          expand="block"
          shape="round"
          size="large"
          (click)="continue()"
          >Continue</ion-button
        ></ion-col
      >
    </ion-row>
  </ion-grid>
</ion-content>
